@import './variables.scss';

#navbar {
    display: grid;
    grid-template-columns: 1fr 20vw 1fr;
    padding: 0 7% 0 7%;
    height: 12vh;
    background-color: rgba($white, 0.9);
    position: sticky;
    align-items: center;
    top: 0px;
    z-index: 1;
}

#left-nav {
    grid-column: 1 / 2;
}

#nav-logo {
    height: 10vh;
    grid-column: 2 / 3;
    cursor: pointer;
}

#title {
    // grid-column: 1 / 2;
    margin: 0;
    background-color: transparent;
    color: $black;
    font-weight: bolder;
    font-family: $header-font;
    font-size: 30px;
}

#right-nav {
    grid-column: 3 / 4;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links {
    display: inline-block;
    color: $black;
    font-weight: bolder;
    font-family: $header-font;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}
