@import './variables.scss';

body {
    margin: 0;
    background-color: $white;
}

h1 {
    background-color: transparent;
    color: $black;
    font-weight: bolder;
    font-family: $header-font;
    font-size: 30px;
}

h2 {
    display: inline-block;
    color: $black;
    font-weight: bolder;
    font-family: $header-font;
    font-size: 20px;
}

p {
    background-color: transparent;
    color: $black;
    font-family: $p-font;
    font-weight: 600;
}
