// color palette
$almost-black: #2d3142;
$dark-blue: #4F5D75;
$orange: #EF8354;
$light-gray: D9D9D9;

// fonts
$header-font: "Outfit", sans-serif;
$p-font: "Roboto", sans-serif;

#hero-body {
    height: 70vh;
    display: grid;
    grid-template-columns: 55vw 45vw;
    background-color: $dark-blue;
}

#intern-pic {
    grid-column: 1 / 2;
    object-fit: contain;
}

