#navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 60px;
    padding: 0 7% 0 7%;
}
#title {
    grid-column: 1/2;
}
#links {
    display: flex;
    grid-column: 3/4;
    justify-content: space-between;
    align-items: center;
}
